.footerHead {
	text-transform: uppercase;
	color: linen;
}

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding: 50px;
	color: #fff;
	background-color: #151e2c;
}

.footer > * {
	flex: 1 100%;
}

.footer-left {
	margin-right: 1.2em;
	margin-bottom: 2em;
}

.footer-left img {
	width: 50%;
}

h2 {
	font-weight: 700;
	font-size: 17px;
}

.footer ul {
	list-style: none;
	padding-left: 0;
}

.footer li {
	line-height: 2em;
}

.footer a {
	text-decoration: none;
}

.footer-right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
}

.footer-right > * {
	flex: 1 50%;
	margin-right: 1.25em;
}

.box a {
	color: #999;
}

.footer-bottom {
	text-align: center;
	color: #999;
	padding-top: 50px;
}

.footer-left p {
	padding-right: 20%;
	color: #999;
}

.social a {
	background: #364a62;
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
}

.social a i {
	color: #e7f2f4;
	padding: 10px 12px;
	font-size: 20px;
}

.social a i img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 600px) {
	.footer-right > * {
		flex: 1;
	}

	.footer-left {
		flex: 1 0px;
	}

	.footer-right {
		flex: 2 0px;
	}
}

@media (max-width: 600px) {
	.footer {
		padding: 15px;
	}
}
